<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
<h1>Modify Drink</h1>
<form action="#" th:action="@{/modify}" th:object="${drink}" method="get"><br><br>
	<input type="hidden" th:field="*{id}">
	Drink Name: <input type="text" th:field="*{name}"><br><br>
	Main: <input type="text" th:field="*{main}"><br><br>
	Amount 1: <input type="text" th:field="*{amount1}"><br><br>
	Second: <input type="text" th:field="*{second}"><br><br>
	Amount 2: <input type="text" th:field="*{amount2}"><br><br>
	Directions: <input type="text" th:field="*{directions}"><br><br>
	<input type="submit" value="Submit">
</form>

<a th:href="@{/view}">View Drinks</a>

</body>

</html>